@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
 
@media only screen and (min-width: 750px) {
    *{
        margin: 0;
        padding: 0;
        
    } 
    menu{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }
  
    body{
        font-family: 'lato', sans-serif;
        background-color: black;
        color: white;
        text-align: center;
    }
    
    nav.menu{
        text-decoration: white;
        letter-spacing: 3px;
        word-spacing: 3px;
        align-items: center;
       
    }


    h1{
        font-weight: 6000;
        text-transform: uppercase;
    }
    .container{
       margin-top: 5%;
      align-items: center;

    }
    footer{
        margin-top: 20%;
        text-align: center;
    }
}

